.button {
    color: black;
    padding: 3px 15px;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    background-color: white;
    background-image: linear-gradient(to left, transparent, transparent 50%, black 50%, black);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .50s ease-in;
    font: 400 18px Tahoma;
    font-weight: bold;
    border: 0.5px solid black;
}

.disabled {
    background: #777777;
}

.secondary {
    background: #3170ad;
}

.default {
}

.red {
    background: #ea6f6f;
}

.default:hover {
}

.red:hover {
    background: #441313;

}

.secondary:hover {
}


.default:active {
    background: #ffde00;
}

.secondary:active {
}

.red:active {
    background: #ff0000;
}

.button:disabled {
}
